@charset "utf-8";
/* CSS Document */
a {
	text-decoration: none;
    outline: none;
    font-family: microsoft yahei;
}
li,ul{
	list-style: none;
}
.l{
    float: left;
}
.r{
    float: right;
}
div {
    display: block;
}
.header a{color: black;font-family: microsoft yahei;}
.header a:hover{text-decoration: none;color: black;}
.header{overflow: hidden; height:52px; background-color:#fff;padding-right: 10px;z-index: 900;box-shadow: 0 4px 8px 0 rgba(7,17,27,0.1); position:relative;}
.logo{margin: 0 18px 0 40px; float:left;width:150px;}
.logo a{ display:block; width: auto; height:52px; line-height:52px; }
.logo a img{ height:45px;}
.header ul{list-style:none; float:left; height:52px; line-height:52px; margin-left:5%}
.header ul li{float:left; width:100px; font-size:16px;}  
.serch{width:250px;  margin-top:7px; float:left;margin-left:80px}
.serch input{border:none; border-bottom:1px solid #848484; box-shadow:none;}
.serchBu{ float:left;width:40px; margin-top:12px;}
.serchBu input{ background:url(../img/search.png) no-repeat; background-size:cover; border:none; margin-left:3px;}
.input-group{float:left;}
#userPhoto{ width:30px; height:30px; float:left; position:absolute; right:120px; margin-top:10px; }
.login{width:100px; float:left; height:52px; line-height:52px; margin-left:30px; font-size:11px; position:absolute; right:20px;}
.login a{ margin-left:10px;}
.myheader{
    width: 100%;
    height:120px; 
    background: url(../img/back.png)center top no-repeat; 
    background-size: cover;
     /* background-color: brown;  */
}
.user-info{
    position: relative;
    width: 1000px;
    margin: 0 auto;
}
.user-info .user-information{
    float: left;
    width: 120px;
    height: 120px;
}
.user-info .user-img{
    width: 120px;
    height: 120px;
    position: relative;
    border-radius: 50%;
    top: 30px;
}
.user-img img{
    text-align: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.user-info .user-right{
    width: 850px;
}
.user-right .user-name{
    font-weight: 600;
    text-align: left;
    font-size: 24px;
    /* line-height: 28px; */
    margin-top: 55px;
}
.user-right span{
    font-size: 12px;
    margin-left: -50px;
    margin-top: 64px;
    float: left;
    text-align: left;
}
.setup .btn-default{
    border-radius: 35px;
    background: rgba(255, 255, 255, 0.5);
    margin-top: 38px;
    margin-right: 30px;
}
.main .work{
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.work .left-span{
    position: absolute;
    width: 172px;
    left: 36px;
    top: 0px;
}
.left-span ul li:first-child{
    margin-top: 80px;
}
.left-span ul li{
    height: 48px;
    width: 160px;
    margin: 0 auto 8px;
}
.left-span a{
    color: #7A7A72;
    font-size: 16px;
    position: relative;
    display: block;
    height: 48px;
    font-size: 16px;
    line-height: 48px;
    padding-left: 42px;
    text-align: left;
}
.left-span a:hover{
    text-decoration: none;
    color: black;
}
.left-span ul a.active {
    color: #fff;
    background: #99CCFF;
    border-radius: 8px 0 0 8px;
}
.renwu{
    margin-left: 360px;
    min-height: 589px;
    width: 900px;
    text-align: left;
}
.right-renwu{
    padding-bottom: 52px ;
}
.right-renwu a{
    color: #f01400;
    display: inline;
}
.right-renwu h2{
    font-family: Microsoft yahei;
    height: 52px;
    line-height: 60px;
    font-size: 14px;
    color: #7f8082;
    border-bottom: 1px solid #d4d5d7;
    /* margin-left: -50px;  */
}
.renwu-item{
    position: relative;
    margin-top: -65px;
    /* padding-left: -370px;  */
    /* border-left: 1px solid #d3d7da; */
}
.renwu-item .renwu-one {
    /* padding: 30px 0; */
    position: relative;
    border-bottom: 1px solid #eff1f0;
}
.cou-title a{
    color: #12171b;
    font-weight: 600;
}
.renwu-cont a:hover{
    text-decoration: none;
}
.renwu-cont .cou-title{
    font-size: 18px;
    color: #12171b;
    height: 29px;
    line-height: 29px;
    position: relative;
}
.cou-title .i-new{
    font-size: 14px;
    color: #787d82;
}
.catog-points{
    position: relative;
    padding-bottom: 20px;
    word-wrap: break-word;
    font-size: 14px;
    color: #787d82;
}
.catog-points span{
    display: block;
    width: 1100px;
    line-height: 25px;
}
.catog-points .i-top a{
    font-weight: 600;
}
.catog-points a{
    color: #787d82;
}
.catog-points a:hover{
    text-decoration: none;
    color: #787d82;
}
.catog-points i{
    color: #f01400;
    font-style: normal;
}
.catog-points .continute-btn{
    display: inline-block;
    position: absolute;
    right: 100px;
    bottom: 20px;
    font-size: 14px;
    border: 1px solid #f01400;
    color: #f01400;
    width: 90px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    background-color: #fff;
}
.btn-behave a:hover{
    color: #fff;
    background-color: #f01400;
}
.mypage{
    height: 200px;
    margin:0 auto;
    padding-top: 10px;
    padding-left: 300px;
}